[submodule "UACME"]
	path = UACME
	url = https://github.com/hfiref0x/UACME.git
[submodule "mimikatz"]
	path = mimikatz
	url = https://github.com/gentilkiwi/mimikatz
[submodule "mimikittenz"]
	path = mimikittenz
	url = https://github.com/putterpanda/mimikittenz.git
