[submodule "UACME"]
	path = UACME
	url = https://github.com/hfiref0x/UACME.git
[submodule "mimikatz"]
	path = mimikatz
	url = https://github.com/gentilkiwi/mimikatz
[submodule "mimikittenz"]
	path = mimikittenz
	url = https://github.com/putterpanda/mimikittenz.git
[submodule "Potato"]
	path = Potato
	url = https://github.com/foxglovesec/Potato
[submodule "Pazuzu"]
	path = Pazuzu
	url = https://github.com/BorjaMerino/Pazuzu
[submodule "Windows-Exploit-Suggester"]
	path = Windows-Exploit-Suggester
	url = https://github.com/GDSSecurity/Windows-Exploit-Suggester
[submodule "Exploitation"]
	path = Exploitation
	url = https://github.com/hacksysteam/Exploitation
